
<ion-content [fullscreen]="true">
  <div *ngFor="let cachorro of dogs">
    <ion-card style="background-color: blanchedalmond;">
      <ion-card-header>
        <img src="{{cachorro.imagem}}" width="300" height="200"/>
      </ion-card-header>
        <ion-card-content style="color: #2e2301">
          <ion-card-title style="color: #5a464c">{{cachorro.nome}}</ion-card-title>
         {{cachorro.idade}} anos <br />
          cachorrinho muito muito fofs
          <ion-row>
            <ion-col size = "4">
              <ion-button size="small"  (click)="deletar(cachorro.nome)">
                <ion-icon name="trash-outline"></ion-icon>
                <ion-label style="margin-top: 0; margin-left: 6px;"
                  >Excluir</ion-label
                >
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
    </ion-card>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin: 1rem;">
    <ion-fab-button (click)="voltar()" color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
