<ion-content [fullscreen]="true">
  <div>
    <ion-row style="margin-top: 30px">
      <ion-col>
        <ion-item class="borda" line="none">
          <ion-label position="floating">Nome </ion-label>
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="como se chama seu pet?"
            maxlength="8"
            [(ngModel)] = "cachorro.nome"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item class="borda" line="none">
          <ion-label position="floating">Idade </ion-label>
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="quantos anos tem seu pet?"
            [(ngModel)] = "cachorro.idade"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <div class="espaco">
      <img id="ima" src="../../assets/icon/pe.jpg" />
      
          <ion-button
            id="botao"
            size="large"
            style="color: black"
            shape="block"
            fill="clear"
            (click)="cadastrar()"
            >{{LabelBotao}}</ion-button
          >
        
    </div>
  </div>
</ion-content>
